/*
MY COLOR PALETTE
Color 1 - #HEX
Color 2 - #HEX
Color 3 - #HEX
Color 4 - #HEX
Color 5 - #HEX
*/

body {
    background-color: gainsboro;
    text-align:center;
}

div {
    font-family: 'Space Mono', monospace;
    background-color: lightcoral;
    color: blue;
    border: 5px solid black;
    padding:10px;
    margin:auto;
    width:300px;
    height:500px;
    text-align: center;
    font-size:44px;
}

#highlight{
    color:pink;
    font-eight:bold;
}