body {
    background-color: #F1F2F6;
    text-align: center;
}

button {
    background-color: #27187E;
    color: #F1F2F6;
    width: 200px;
    padding: 10px;
    margin: 50px 0px 0px 0px;
    border:none;
}

button:hover {
    background-color: #758BFD;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-family: 'Space Mono', monospace;
}